body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, main {
  width: 1400px;
  margin-left: calc(50% - 700px);

}
header {
  display: inline-block;
  margin-top: 20px;
}
header > img {
  float: left;
  object-position: left;
  object-fit: contain;
  height: 80px;
  width: 160px;
}
nav {
  margin-top: 30px;
  float: right;
}

nav > a {
  position: relative;
  font-size: 20px;
  margin-left: 4em;
  color: rgb(34, 34, 34);
  text-decoration: none;
  padding: 0 10px;
}
nav > a:first-child {
  margin-left: 0;
}
nav > a:after {
  content: "";
  position: absolute;
  background: linear-gradient(15deg, #8300e4, #8300e4, #ee00ef, transparent);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
nav > a:hover{
  color: black;
}
nav > a:hover:after {
  width: 100%;
}


main {
  margin-top: 40px;
}

main > img {
  width: 60%;
  float: left;
}

div {
  width: 40%;
  float: right;
}

div > h1 {
  margin-top: 25%;
  margin-bottom: 0;
  font-size: 50px;
  

}

div > p {
  margin-bottom: 2.5em;

}
div > a {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 1.6em;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 100;
  color:white;
  background-color: #8a47e8;
  text-decoration: none;
}